<app-title></app-title>
<div class="container">
  <mat-toolbar>
    <span>ADICIONAR USUÁRIO</span>
  </mat-toolbar>
  <div class="card">
    <form novalidate [formGroup]="form" (ngSubmit)="save()">
      <div class="form-input">
        <mat-form-field appearance="fill">
          <mat-label>Nome de usuário</mat-label>
          <input matInput formControlName="nome" />
          <mat-error *ngIf="form.controls['nome'].hasError('required')">
            O campo nome de usuário é requerido.
          </mat-error>
          <mat-error *ngIf="form.controls['nome'].hasError('minlength')">
            O campo nome de usuário precisa ter no mínimo 3 caracteres.
          </mat-error>
          <mat-error *ngIf="form.controls['nome'].hasError('maxlength')">
            O campo nome de usuário precisa ter no máximo 30 caracteres.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-input">
        <mat-form-field appearance="fill">
          <mat-label>Email de usuário</mat-label>
          <input matInput formControlName="email" />
          <mat-error *ngIf="form.controls['email'].hasError('required')">
            O campo email de usuário é requerido.
          </mat-error>
          <mat-error *ngIf="form.controls['email'].hasError('minlength')">
            O campo email de usuário precisa ter no mínimo 3 caracteres.
          </mat-error>
          <mat-error *ngIf="form.controls['email'].hasError('maxlength')">
            O campo email de usuário precisa ter no máximo 100 caracteres.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="container-button">
        <span class="spacer"></span>
        <button mat-flat-button color="basic" [routerLink]="['/user']">
          CANCELAR
        </button>
        &nbsp; &nbsp;
        <button mat-flat-button color="primary" type="submit">SALVAR</button>
      </div>
    </form>
  </div>
</div>
